@model SurveyViewModel

<div class="row">
    <p>
        @Model.Title
    </p>
    <p>
        @Model.Description
    </p>
</div>

<div>
    <form action="/Home/Index" method="post">
        <input type="hidden" asp-for="@Model.Title" />
        <div asp-validation-summary="ModelOnly" class="message-error"></div>

        @for (var i = 0; i < Model.QuestionViewModel.Count(); i++)
        {
            var question = Model.QuestionViewModel[i];

            <input type="hidden" asp-for="@Model.Id" />
            <input type="hidden" asp-for="@Model.QuestionViewModel[i].Id " />
            <input type="hidden" asp-for="@Model.QuestionViewModel[i].Text" />
            <input type="hidden" asp-for="@Model.QuestionViewModel[i].SurveyId" />
            <input type="hidden" asp-for="@Model.QuestionViewModel[i].ControlTypeId" />

            <div class="row">
                <div class="col-md-12">
                    @{
                        <span class="text-blue">@question.ExtraText</span>
                    }
                </div>

                <div class="col-md-12">
                    @{
                        if(question.StepNumber > 0)
                        {
                            <span>@question.StepNumber .</span>
                        }
                        <span>@question.Text</span>
                    }
                </div>
                <div class="col-md-12">
                    @switch (question.ControlTypeId)
                    {
                        case (int)ControlTypes.RadioButton:

                            <table class="table">
                                <tr>
                                    @for (int j = 0; j < question.OptionsViewModel.Count; j++)
                                    {
                                        <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Id " />
                                        <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Text" />

                                        <td class="@(question.OptionsViewModel[j].HasExtraComment ? "add-flex-with-td" : "" )">
                                            <label>
                                                <input type="radio" class="form-check-input @(question.OptionsViewModel[j].Id)" asp-for="@Model.QuestionViewModel[i].SelctedAnswer" value="@question.OptionsViewModel[j].Id" />
                                                <span>
                                                    @(j + 1) .
                                                </span>
                                                <span>@question.OptionsViewModel[j].Text</span>
                                            </label>

                                            @if (question.OptionsViewModel[j].HasExtraComment)
                                            {
                                                <input class="form-control someInput" type="text" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].ExtraComments" />
                                            }

                                        </td>

                                    }
                                </tr>
                            </table>
                            break;
                        case (int)ControlTypes.SingleLineTextBox:
                            <table class="table">
                                <tr>
                                    @for (int j = 0; j < question.OptionsViewModel.Count; j++)
                                    {
                                        <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Id " />
                                        <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Text" />

                                        <td>
                                            <input class="form-control" type="text" asp-for="@Model.QuestionViewModel[i].SelctedAnswer" />
                                            <label for="@question.OptionsViewModel[j].Text">@question.OptionsViewModel[j].Text</label>
                                        </td>
                                    }
                                </tr>
                            </table>
                            break;

                        case (int)ControlTypes.CheckBoxList:
                            <table class="table">
                                <tr>
                                    @for (int j = 0; j < question.OptionsViewModel.Count; j++)
                                    {
                                    <tr>
                                        <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Id " />
                                        <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Text" />
                                        <td>
                                            <input type="checkbox" class="form-check-input" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].IsSelected" />
                                            <label>@question.OptionsViewModel[j].Text</label>
                                        </td>

                                            @if (question.OptionsViewModel[j].HasExtraComment)
                                            {
                                            <td>
                                                <input class="form-control" type="text" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].ExtraComments" />
                                            </td>
                                            }
                                            @if (question.OptionsViewModel[j].HasExtraComment2)
                                            {
                                            <td>
                                                <input class="form-control" type="text" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].ExtraComments2" />
                                            </td>
                                            }
                                    </tr>
                                    }

                            </table>
                            break;
                    }
                </div>
            </div>

        }
        <input type="submit" value"Submit" />
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".extra-action").click(function () {
                // $(this).hide();
                if (this.checked && this.value == '52') {
                    for (let i = 18; i <= 35; i++) {
                        $(".main_" + i).hide();
                    }
                } else {
                    for (let i = 18; i <= 35; i++) {
                        $(".main_" + i).show();
                    }
                }
            });
        });
    </script>
}

