@model SurveyViewModel

<div class="row">
    <p>
        @Model.Title
    </p>
    <p>
        @Model.Description
    </p>
</div>

<div>
    <form action="/Home/Index" method="post">
        <input type="hidden" asp-for="@Model.Title" />
        <div asp-validation-summary="ModelOnly" class="message-error"></div>

        @for (var i = 0; i < Model.QuestionViewModel.Count(); i++)
        {
            var question = Model.QuestionViewModel[i];

            <div class="row">
                <label class="text-blue">@question.ExtraText</label> <br />
            </div>
            <div class="row">
                @{
                    <div class="col-md-12">
                        <label>@question.Text</label>
                    </div>
                }

                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.QuestionViewModel[i].Id " />
                <input type="hidden" asp-for="@Model.QuestionViewModel[i].Text" />
                <input type="hidden" asp-for="@Model.QuestionViewModel[i].SurveyId" />
                <input type="hidden" asp-for="@Model.QuestionViewModel[i].ControlTypeId" />

                <div class="answer">
                    @switch (question.ControlTypeId)
                    {
                        case (int)ControlTypes.SingleLineTextBox:

                            for (int j = 0; j < question.OptionsViewModel.Count; j++)
                            {
                                <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Id " />
                                <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Text" />

                                <div class="col-md-8">
                                    <input class="form-control" type="text" asp-for="@Model.QuestionViewModel[i].SelctedAnswer" required />
                                </div>
                                <div class="col-md-4">
                                    <label for="@question.OptionsViewModel[j].Text">@question.OptionsViewModel[j].Text</label>
                                </div>

                            }

                            break;
                        case (int)ControlTypes.MultiLineTextBox:
                            break;


                        case (int)ControlTypes.CheckBoxList:
                            for (int j = 0; j < question.OptionsViewModel.Count; j++)
                            {
                                <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Id " />
                                <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Text" />


                                <label>
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].IsSelected" /> @question.OptionsViewModel[j].Text
                                </label>

                                @if (question.OptionsViewModel[j].HasExtraComment)
                                {
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input class="form-control" type="text" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].ExtraComments" />
                                        </div>

                                    </div>
                                }
                            }

                            break;
                        case (int)ControlTypes.RadioButton:

                            for (int j = 0; j < question.OptionsViewModel.Count; j++)
                            {
                                <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Id " />
                                <input type="hidden" asp-for="@Model.QuestionViewModel[i].OptionsViewModel[j].Text" />

                                <label>
                                    <input type="radio" class="form-check-input @(question.OptionsViewModel[j].Id)" asp-for="@Model.QuestionViewModel[i].SelctedAnswer" value="@question.OptionsViewModel[j].Id" required />
                                    @question.OptionsViewModel[j].Text
                                </label>
                            }
                            break;


                        case (int)ControlTypes.SingleSelect:
                            break;

                        case (int)ControlTypes.MultiSelect:
                            break;
                    }

                </div>
            </div>

        }
        <input type="submit" value"Submit" />
    </form>
</div>


